@model ProjektAPI.Models.SalaModel;

@{
    ViewData["Title"] = "Szczegóły o sali kinowej";
}

<h1 style="font-weight:400" class="text-center">Szczegóły o sali kinowej</h1>
<hr />
<div class="row justify-content-center">
    <br />
    <div class="col">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.NazwaSali)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.NazwaSali)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.IloscMiejsc)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IloscMiejsc)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.IloscRzedow)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IloscRzedow)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LiczbaMiejsc)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LiczbaMiejsc)
            </dd>
            <dt class="col-sm-3">
                Widok sali kinowej
            </dt>
            <dd class="col-sm-9">
                <table>
                    @for (int i = 0; i < Model.IloscRzedow; i++)
                    {
                        <tr>
                            @for (int j = 0; j < Model.IloscMiejsc; j++)
                            {
                                <td>
                                    <div style="margin:1px; padding: 0px;width: 15px; height: 15px; background-color: #A1A1A1;"></div>
                                </td>
                            }
                        </tr>
                    }
                </table>
            </dd>
        </dl>
    </div>
</div>
<br />
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Edytuj sale kinową</a>
</div>
