@model ProjektAPI.Models.KlientModel;

@{
    ViewData["Title"] = "Szczegóły o kliencie";
}

<h1 style="font-weight:400" class="text-center">Szczegóły o kliencie</h1>
<hr />
<div class="row justify-content-center">
    <br />
    <div class="col">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Imie)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Imie)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nazwisko)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nazwisko)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DataUrodzenia)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DataUrodzenia)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.NumerTelefonu)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.NumerTelefonu)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Miasto)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Miasto)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Ulica)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Ulica)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.KodPocztowy)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.KodPocztowy)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Uzytkownik.Id)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Uzytkownik.Id)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Uzytkownik.Login)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Uzytkownik.Login)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Uzytkownik.Haslo)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Uzytkownik.Haslo)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Uzytkownik.RodzajUzytkownika)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Uzytkownik.RodzajUzytkownika)
            </dd>
        </dl>
    </div>
</div>
<br />
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Edytuj klienta</a>
</div>
