@model ProjektAPI.Models.KlientModel
@{
    ViewData["Title"] = "Informacje o koncie";
}
<h1>@ViewData["Title"]</h1>

<div class="col-md-8 align-content-center">
    <table class="table table-striped">
        <tr>
            <th><div class="col">Imie</div></th>
            <td><div class="col">@Model.Imie</div></td>
        </tr>
        <tr>
            <th><div class="col">Nazwisko</div></th>
            <td><div class="col">@Model.Nazwisko</div></td>
        </tr>
        <tr>
            <th><div class="col">Data urodzenia</div></th>
            <td><div class="col">@Model.DataUrodzenia.Date.ToShortDateString()</div></td>
        </tr>
        <tr>
            <th><div class="col">Numer telefonu</div></th>
            <td><div class="col">@Model.NumerTelefonu</div></td>
        </tr>
        <tr>
            <th><div class="col">Adres email</div></th>
            <td><div class="col">@Model.Email</div></td>
        </tr>
        <tr>
            <th><div class="col">Login</div></th>
            <td><div class="col">@Model.Uzytkownik.Login</div></td>
        </tr>
        <tr>
            <th><div class="col">Rodzaj użytkownika</div></th>
            <td><div class="col">@Model.Uzytkownik.RodzajUzytkownika</div></td>
        </tr>
    </table>
    </div>