@model ProjektAPI.Models.KlientModel
@{
    ViewData["Title"] = "Informacje o koncie";
}
<h1>@ViewData["Title"]</h1>


    <table class="row">
        <tr>

            <th><div class="col-md-10">Imie</div></th>
            <td><div class="col-md-5">@Model.Imie</div></td>
        </tr>
        <tr>
            <th><div class="col-md-5">Nazwisko</div></th>
            <td><div class="col-md-5">@Model.Nazwisko</div></td>
        </tr>
        <tr>
            <th><div class="col-md-5">Data urodzenia</div></th>
            <td><div class="col-md-5">@Model.DataUrodzenia.Date</div></td>
        </tr>
        <tr>
            <th><div class="col-md-5">Numer telefonu</div></th>
            <td><div class="col-md-5">@Model.NumerTelefonu</div></td>
        </tr>
        <tr>
            <th><div class="col-md-5">Adres email</div></th>
            <td><div class="col-md-5">@Model.Email</div></td>
        </tr>
        <tr>
            <th><div class="col-md-5">Login</div></th>
            <td><div class="col-md-5">@Model.Uzytkownik.Login</div></td>
        </tr>
        <tr>
            <th><div class="col-md-5">Rodzaj użytkownika</div></th>
            <td><div class="col-md-5">@Model.Uzytkownik.RodzajUzytkownika</div></td>
        </tr>
    </table>
