@model PaginatedList<AktualnieEmitowaneFilmy>

@{
    ViewData["Title"] = "Lista wszystkich emisji seansów";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Godzina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NazwaFilmu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Godzina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaFilmu)
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="AktualnieEmitowaneFilmy"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-secondary @prevDisabled">
    Previous
</a>
<a asp-action="AktualnieEmitowaneFilmy"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-secondary @nextDisabled">
    Next
</a>