@model PaginatedList<AktualnieEmitowaneFilmy>

@{
    ViewData["Title"] = "Lista wszystkich emisji seansów";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Godzina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NazwaFilmu)
            </th>
            <th>Odbyło się</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Godzina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NazwaFilmu)
                </td>
                <td>
                    @{
                        if (item.Data.Date >= DateTime.Now.Date)
                        {
                            <input type="checkbox" disabled>
                        }
                        else
                        {
                            <input type="checkbox" disabled checked />
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div>
    <div class="justify-content-center" style="display: flex;">
        <a style="width: 100px;" asp-action="AktualnieEmitowaneFilmy"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-secondary text-center @prevDisabled">
            Previous
        </a>
        <div style="width: 10px;"></div>
        <a style="width: 100px;" asp-action="AktualnieEmitowaneFilmy"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-secondary text-center @nextDisabled">
            Next
        </a>
    </div>
</div>