@using ProjektAPI.Models
@model Tuple<List<bool>,List<UzytkownikModel>>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h3>Witam w abstrakcyjnym kinie, jest to projekt końcowy w celu zaliczenia przedmiotu</h3>
    <h4>Programowanie w środowisku ASP.NET</h4>
    <h5 class="krystian bd-content-title">Autor: Krystian Petek</h5>
</div>
<div>
    <br />
    <hr />
    @{
        <h5 style="padding-bottom: 15px;"><a asp-controller="Logowanie" asp-action="Rejestracja">Zarejestruj się</a>, aby korzystać z serwisu lub dodaj użytkowników przez specjalnie przygotowaną funkcjonalność poniżej.</h5>
        if (Model.Item1[0])
        {
            <h5>Kliknij w <button type="button"  data-toggle="tooltip" data-placement="top" title="Użytkownicy już zostali dodani" class="btn btn-outline-secondary">KLIENCI</button> , aby dodać 3 użytkowników o róznych rolach:</h5>
        }
        else
        {
            <h5>Kliknij w <a asp-controller="Dodawanie" asp-action="Klienci" class="btn btn-warning">KLIENCI</a> , aby dodać 3 użytkowników o róznych rolach:</h5>
        }
    }

    <div class="buttonyPadding">
        <div style="opacity: 0.8;" class="wyswietlWLinii text-light alert bg-danger">ADMINISTRATOR</div>
        <h6 class="wyswietlWLinii"> - może zrobić wszystko, tz. modyfikować repertuar, klientów, sale kinowe, seanse a także bilety</h6>
    </div>
    <div class="buttonyPadding">
        <div style="opacity: 0.8;" class="wyswietlWLinii text-light alert bg-success">PRACOWNIK</div>
        <h6 class="wyswietlWLinii"> - może modyfikować repertur, seanse, przeglądać sale kinowe i listę rezerwacji biletów, a także wszystkie możliwości klienta</h6>
    </div>
    <div class="buttonyPadding">
        <div style="opacity: 0.8;" class="wyswietlWLinii text-light alert bg-primary">KLIENT</div>
        <h6 class="wyswietlWLinii"> - może przeglądać repertuar, wykonywać wszystkie operacje na rezerwacjach, a przeszłe przeglądać</h6>
    </div>
    @{
        if (Model.Item1[0])
        {
            <div>
                <h5>Dodani użytkownicy: </h5>
                <div class="row">
                    <div class="col-md-2">
                        @{
                            foreach (var uzytkownikLogin in @Model.Item2)
                            {
                                <p class="font-weight-bold user @rodzaj(uzytkownikLogin)">L: @uzytkownikLogin.Login</p>
                            }
                        }
                    </div>
                    <div class="col-md-2">
                        @{
                            foreach (var uzytkownikHaslo in @Model.Item2)
                            {
                                <p class="font-weight-bold user @rodzaj(uzytkownikHaslo)">H: @uzytkownikHaslo.Haslo</p>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    }
    <br />

    <div>
        <hr />
        <h5>Kolejnym krokiem jest zalogowanie się i dodanie kolejno sal kinowych, filmów, seansów. Możesz to także zrobić przyciskami poniżej.</h5>
            <div class="buttonyPaddingMniejsze">
            @{if (Model.Item1[1])
            {
                <button type="button" data-toggle="tooltip" data-placement="left" title="Sale kinowe już zostały dodane" class="btn btn-outline-secondary">SALE KINOWE</button>
            }
            else
            {
                <a asp-controller="Dodawanie" asp-action="SaleKinowe" class="btn btn-warning">SALE KINOWE</a>
            }}<span> , aby dodać sale kinowe.</span>
            </div>
            <div class="buttonyPaddingMniejsze">
            @{if (Model.Item1[2])
            {
                <button type="button" data-toggle="tooltip" data-placement="left" title="Filmy już zostały dodane" class="btn btn-outline-secondary">FILMY</button>
            }
            else
            {
                <a asp-controller="Dodawanie" asp-action="Filmy" class="btn btn-warning">FILMY</a>
            }}<span> , aby dodać repertuar.</span>
            </div>
            
            <div class="buttonyPaddingMniejsze">
            @{if (Model.Item1[3])
            {
                <button type="button" data-toggle="tooltip" data-placement="left" title="Seanse już zostały dodane" class="btn btn-outline-secondary">SEANSE</button>
            }
            else
            {
                <a asp-controller="Dodawanie" asp-action="Seanse" class="btn btn-warning">SEANSE</a>
            }}<span> , aby dodać seanse aktualnie wyświetlane w kinie.</span>
            </div>
            <div class="buttonyPaddingMniejsze">
            @{if (Model.Item1[4])
            {
                <button type="button" data-toggle="tooltip" data-placement="left" title="Rezerwacje biletów już zostały dodane" class="btn btn-outline-secondary ">BILETY</button>
            }
            else
            {
                <a asp-controller="Dodawanie" asp-action="RezerwacjaBiletow" class="btn btn-warning">BILETY</a>
            }} <span> , aby dodać bilety, które zakupili klienci.</span>
            </div>
        
        </div>
</div>
<script>
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
</script>

@{
    string rodzaj(UzytkownikModel x)
    {
        if (x.RodzajUzytkownika == Rola.Admin)
            return $"text-danger";
        else if (x.RodzajUzytkownika == Rola.Pracownik)
            return $"text-success";
        else return "text-primary";
    }
}