@model ProjektAPI.Models.EmisjaModel;

@{
    ViewData["Title"] = "Usuwanie emisji filmu";
}

<h1 style="font-weight:400" class="text-center">Usuwanie emisji filmu</h1>
<hr />

<h3 style="font-weight:400" class="text-center">Czy napewno chcesz usunąć tą emisję?</h3>
    <hr />
<div class="row justify-content-center">
<div class="col-md-6">
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Film.Nazwa)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Film.Nazwa)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Sala.NazwaSali)
        </dt> 
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Sala.NazwaSali)
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmed" asp-route-id="@Model.Id">
        <input type="hidden" asp-for="Id" />
        <br />
        <input type="submit" value="Usuń emisję" class="btn btn-dark" />
    </form>
</div>
</div>