@using ProjektAPI.Models;
@using System.Linq;
@model Tuple<RezerwacjaModel, List<EmisjaModel>,string[]>
@{
    ViewData["Title"] = "Dodawanie nowej rezerwacji";
}

<h1 style="font-weight:400" class="text-center">@ViewData["Title"]</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="form-group row">
            <label asp-for="Item1.Emisja.Film.Nazwa" class="col-sm-4 col-form-label"></label>
            <div class="col-sm-8">

                <select onchange="wywolajFilm();" asp-for="Item1.Emisja.FilmId" id="wybieramyFilmId" class="form-control"
                        asp-items="@Model.Item2.Select(w=>new {ID = w.Film.Id, Nazwa = w.Film.Nazwa}).Distinct().Select(c=> new SelectListItem{ Text = c.Nazwa, Value = c.ID.ToString()})">
                    <option class="bg-secondary text-light" value="@Model.Item3[0]">@Model.Item3[1]</option>
                </select>
                <span asp-validation-for="Item1.Emisja.Film.Nazwa" class="text-danger"></span>

                <script type="text/javascript">

                    function wywolajFilm(){
                    var pathNameFilm = window.location.pathname;
                    var idFilmu = $("#wybieramyFilmId").val();
                    var wyszukaj = "?film="+idFilmu;
                    window.location.replace(pathNameFilm + wyszukaj);
                    }
                </script>

            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Item1.Emisja.Data" class="col-sm-4 col-form-label"></label>
            <div class="col-sm-8">
                <select onchange="wywolajData();" asp-for="Item1.Emisja.Data" id="wybieramyDateId" class="form-control"
                        asp-items="@Model.Item2.Where(g=>g.Data > DateTime.Now).Where(q=>q.FilmId == int.Parse(Model.Item3[0])).Select(w=>w.Data.ToShortDateString()).Distinct().Select(c=> new SelectListItem{ Text = c.ToString(), Value = c.ToString()})">
                    <option value="">Wybierz datę!</option>
                </select>
                <span asp-validation-for="Item1.Emisja.Data" class="text-danger"></span>

                <script type="text/javascript">


                    function wywolajData()
                    {
                        var pathNameLengthData = window.location.pathname.length;
                        var pathNameData = window.location.pathname.substring(0,pathNameLengthData-1);
                        var idFilmu = $("#wybieramyFilmId").val();
                        var idDaty = $("#wybieramyDateId").val();
                        var wyszukaj = "?film="+idFilmu+"&data="+idDaty;
                        window.location.replace(pathNameData + 3 + wyszukaj);
                    }
                </script>

            </div>
        </div>

        <br />
        @if (!string.IsNullOrWhiteSpace(ViewBag.Zajete))
        {
            <div class="text-center text-danger">@ViewBag.Zajete</div>

        }
    </div>
</div>

