@using ProjektAPI.Models
@model Tuple<RezerwacjaModel,bool[,]>;
@{
    ViewData["Title"] = "Dodawanie nowej rezerwacji";
}

<h1 style="font-weight:400" class="text-center">@ViewData["Title"]</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item1.Id" />

            <div class="form-group row">
                <label asp-for="Item1.Emisja.Film.Nazwa" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <div>@Model.Item1.Emisja.Film.Nazwa</div>
                </div>
            </div>


            <div class="form-group row">
                <label asp-for="Item1.Emisja.Data" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <div>@Model.Item1.Emisja.Data.ToShortDateString()</div>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Item1.Emisja.Godzina" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <div>@Model.Item1.Emisja.Godzina.ToShortTimeString()</div>

                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Zajęte miejsca</label>
                <div class="col-sm-8">
                    
                    <table>
                        @{
                            int miejsce=0, rzad=0;
                        }
                        @for (int i = 0; i < Model.Item2.GetLength(0); i++)
                        {
                            <tr>
                                @for (int j = 0; j < Model.Item2.GetLength(1); j++)
                                {

                                    <td>
                                        @if (Model.Item2[i, j] == true)
                                        {
                                            <div style="margin:1px; padding: 0px; width: 15px; height: 15px; background-color: red;"><span></span></div>
                                        }
                                        else
                                        {

                                            @if (j == @Model.Item1.Miejsce && i == @Model.Item1.Rzad)
                                            {
                                                <div style="margin:1px; padding: 0px;width: 15px; height: 15px; background-color: #0080FF;"></div>
                                                continue;
                                            }

                                            miejsce = j + 1;
                                            rzad = i + 1;
                                            <a asp-action="CreateNaPodstawieSiedzenia" asp-route-film="@Model.Item1.Id" asp-route-miejsce="@miejsce" asp-route-rzad="@rzad"><div style="margin:1px; padding: 0px;width: 15px; height: 15px; background-color: #A1A1A1;"></div></a>
                                            
                                        }
                                        
                                        
                                    </td>
                                }
                            </tr>

                        }
                    </table>
                    <div>
                    </div>
                </div>
            </div>


            <br />
            <input type="hidden" asp-for="Item1.Miejsce" />
            <input type="hidden" asp-for="Item1.Rzad" />
            <div class="form-group row">
                <input type="submit" value="Dodaj rezerwacje" class="text-light btn btn-dark" />
            </div>
        </form>
        <br />
    </div>
</div>
