@using ProjektAPI.Models
@model Tuple<RezerwacjaModel,bool[,]>;

@{
    ViewData["Title"] = "Szczegóły o rezerwacji";
}

<h1 style="font-weight:400" class="text-center">@ViewData["Title"]</h1>
<hr />
<div class="row justify-content-center">
    <br />
    <div class="col">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Item1.Id)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Item1.Id)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Item1.Rzad)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Item1.Rzad)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Item1.Miejsce)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Item1.Miejsce)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Item1.Emisja.Film.Nazwa)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Item1.Emisja.Film.Nazwa)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Item1.Emisja.Data)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Item1.Emisja.Data)
            </dd>
            <dt class="col-sm-3">
                MAPA ZAJĘTYCH MIEJSC
            </dt>
            <dd class="col-sm-9">
                <form asp-action="Create" >
                <table>
                        @for(int i = 0;i<Model.Item2.GetLength(0);i++)
                        {
                            <tr>
                            @for(int j = 0;j<Model.Item2.GetLength(1);j++)
                            {
                                <td>
                                    @if(Model.Item2[i,j] == true)
                                    {
                                        <div style="margin:1px; padding: 0px; width: 15px; height: 15px; background-color: red;"><span></span></div>
                                    }
                                    else
                                    {
                                        var miejsce = i+1;
                                        var rzad = j+1;
                                        <a asp-action="CreateNaPodstawieSiedzenia" asp-route-film="@Model.Item1.Id" asp-route-miejsce="@miejsce" asp-route-rzad="@rzad"><div style="margin:1px; padding: 0px;width: 15px; height: 15px; background-color: #A1A1A1;"></div></a>

                                    }
                                </td>
                            }
                            </tr>

                    }
                
                </table>
                <div>
                     
                </div>
                </form>
            </dd>
        </dl>
    </div>
</div>
<br />
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Item1.Id">Edytuj klienta</a>
</div>
