@model IEnumerable<ProjektAPI.Models.FilmModel>

@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1 class="display-4">Aktualnie emitowane filmy</h1>
    <br />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gatunek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CzasTrwania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OgraniczeniaWiek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gatunek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CzasTrwania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OgraniczeniaWiek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
        </tr>
}
    </tbody>
</table>
