@model ProjektAPI.Models.FilmModel;

@{
    ViewData["Title"] = "Szczegóły o filmie";
}

<h1 style="font-weight:400" class="text-center">Szczegóły o filmie</h1>
<hr />
<div class="row justify-content-center">
    <br />
    <div class="col">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nazwa)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nazwa)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Opis)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Opis)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Gatunek)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Gatunek)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CzasTrwania)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CzasTrwania)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.OgraniczeniaWiek)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.OgraniczeniaWiek)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Cena)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Cena)
            </dd>
        </dl>
    </div>
</div>
<br />
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Edytuj film</a>
</div>
